.bg{
    width: 100%;
    height: 280px;
    background-image: url('./../../../../assets/background/left-pie-chart.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom:8px;
}

.demo-chart{
    height: 240px;
    width: 100%;
}
ul{
    margin: 0;
}
ul>li{
   margin-left: 20px; 
   margin-right: 20px; 
}