.bg{
    width: 100%;
    height: 295px;
    background-image: url('./../../../../assets/background/left-pie-chart.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.right-bar{
    // height: 150px;
    // width: 100%;
}